/* General Styles */ 
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://i.pinimg.com/originals/cc/2d/2a/cc2d2a4b08b801879707231afbffdecf.gif'), 
                linear-gradient(to right, #e0eafc, #cfdef3); 
    background-size: cover; 
    background-repeat: no-repeat; 
    line-height: 1.6;
}

header, footer {
    background-color: rgba(43, 1, 17, 0.582);  
    color: white;
    text-align: center;
    padding: 15px 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline-block; 
    margin: 0 20px; 
}

nav ul li a {
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    text-decoration: none; 
}

section {
    padding: 30px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.6); 
}

h2 {
    color: #333; 
    margin-bottom: 15px; 
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px; 
    }

    nav ul li {
        display: block; 
        text-align: center; 
        margin: 10px 0; 
    }

    section {
        padding: 15px; 
        margin: 10px; 
    }
}

.hidden {
    display: none;
}
